/***************
  Font Colors + Sizes
***************/
body{
    font-family: OlympicSans,Arial,Helvetica,sans-serif;
    font-size : clamp(1vw, 3vw, 1.8vw);
}

h1{
    display: block;
    font-family: 'Bebas Neue', cursive;
    font-size : clamp(3vw, 9vw, 5.5vw);
    font-weight: 400;
    text-align: center;
    padding-bottom: 0;
}

h2{
    font-size : clamp(2vw, 6vw, 3.5vw);
    padding-top: 4vh;
}

h3{
    font-size: clamp(1.5vw, 5vw, 2.5vw);
    display: inline;
}

h4{
    font-size : clamp(1vw, 2vw, 1.5vw);
}

li{
    margin-bottom: 2vh;

}

.olympicHeadText{
    font-family: 'Bebas Neue', cursive;
}

.olympicBodyText{
    font-family: 'Lato', sans-serif;
}

.olympicBodyFont{
    font-family: 'Lato', sans-serif;
}

.center{
    text-align: center;
}

.underline{
    height: 1.5vh;
    margin-bottom: 4vh;
}

.italic{
    font-style: italic;
}

.bolded{
    font-weight: bold;
}

.yellowText {
    color: #ffce01;
}

.redText {
    color: #ff0000;
}

.blueText {
    color: #3e76ec;
}

.greenText {
    color: #179a13;
}


/***************
 Color Band Dividers / Blocks
***************/
.colorDivider{
    height: 3vh;
}

.yellowBlock{
    background-color: #ffce01;
}

.lightRedBlock{
    background-color: #f9afaa;
}

.redBlock{
    background-color: #ff0000;
}

.blueBlock{
    background-color: #3e76ec;
}

.greenBlock{
    background-color: #179a13;
}

.lightBlueBlock {
    background-color: #d8e3fb;
}

.blackBlock {
    background-color: black;
}


/***************
 D3 Graph Styles
***************/
.axis{
    color: black;
}

.legend{
    font-size: small;
}

.axisText{
    font-family: 'Lato', sans-serif;
    font-size: 1.5vh;
}

.tick{
    font-size: 1.2vh;
}

.chartTitle{
    font-size: 4vh;
}

.tooltip {
    position: absolute;
    text-align: center;
    font: 1.8vh sans-serif;
}
.tooltip h3,h4 {
    text-align: left;
}
.tooltip h4 {
    font: 2vh sans-serif;
}

.name-label{
    font-size: small;
    text-anchor: end;
}

.event-name{
    font-size: 1vh;
}

.xlab{
    text-anchor: start;
}

.year-label, .player-label, .time-label, .record-label, .record-year-label {
    font-size: 1.3vh;
}

.meter-label{
    font-size: 2.3vh;
}


/***************
 Button Styling
***************/
.dropdown{
    float: right;
    margin-right: 6vh;
    border-radius: 1vh;
    padding-left: 0.5vh;
    padding-bottom: 0.5vh;
    padding-top: 0.5vh;
    padding-right: 1vh;
    background: grey;
    color: white;
    font-size: small;
}


/***************
 Overall Slide Attributes
***************/
.slide-area{
    height: 100vh;
}

.background{
    background-color: #ffffff;
    background: radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent) 10px 10px, linear-gradient(rgba(169, 169, 169, 0.2) 0.8px, transparent 0.8px) 0 -0.4px, linear-gradient(90deg, rgba(169, 169, 169, 0.2) 0.8px, #ffffff 0.8px) -0.4px 0;
    background-size: 20px 20px, 20px 20px, 10px 10px, 10px 10px;
}

.background-2{
    /*background: black;rgba(155,155,155,0.2);*/
    background: black;
    color: white;
}

.background-3{
    background: rgba(155,155,155,0.2)
}

.textbox{
    background-color: white;
    border: solid black 5px;
    border-radius: 20px;
    padding-top: 5vh;
    padding-bottom: 5vh;
}





/****************************************************/
/*      Individual Slide-Specific Styles            */
/****************************************************/




/***************
 Title Slide
***************/
#title-slide{
    height: 97vh;
}

#icon-bottom-bar{
    height: 15%;
    margin-bottom: 2vh;
}

#title-image-row{
    height: 30vh;
}

#title-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    padding: 2vh;
    width: auto;
}

#title-box{
    margin: auto;
    width: 85%;
    align-self: center;
    margin-top: 7vh;
    padding-bottom: 5vh;
    margin-bottom: 3vh;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 8px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.scroll-text{
    padding-top: 4vh;
    font-size: 50%;
    margin-bottom: 0px;
}




/***************
 Usain Bolt Slide
***************/
#bolt-slide{
    /*border-top: 1px solid black;*/
}
#bolt-slide-right{
    text-align: center;
    padding-top: 15vh;
    display: flex;
    justify-content: center;
    max-height: 100%;
}

#bolt-image{
    max-height: 80%;
    width: auto;
    border: #3e76ec solid 5px;
    border-radius: 50px;
}

.bolt-question{
    text-align: left;
    padding: 3vh;
    margin-bottom: 3vh;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-color: #3e76ec;
    box-shadow: 10px 10px #b2b2b2;
    margin-top: 3vh;
}

.bolt-question li{
    font-size: smaller;
    margin-top:1vh;
}

#bolt-question0{
    margin-top: 0vh;
}


/***************
 Overview Slide
***************/
#overview-text1 {
    background: rgb(188, 205, 243);
    width: 120%;
    height: 50%;
}

.solo-text{
    border: none;
    border-radius: 0;
    padding: 2vh 5vw 12vh 5vw;
    font-size: 2.8vh;
    font-weight: light;
    margin-top: auto;
    margin-bottom: auto;
}



/***************
 Event Descriptions Slide
***************/
#events-slide{
    /*border-top: solid #3e76ec;*/
    /*border-bottom: solid #3e76ec;*/
}

#eventListRow{
    margin-left:1em;
}

#eventsVis{
    margin-top: 2vh;
    height: 80%;
    height: 68vh;
    padding-top: 3vh;
    padding-top: 3vh;
    font-size: 3.5vh;
    padding-right: 20vh;
    background: white;
    border: 5px #3e76ec solid;
    border-radius: 20px;
}

.italicSty{
    font-style:italic;
    font-family: 'Lato', sans-serif;
}

.overlay{
    cursor: pointer;
}


/***************
 Medal Breakdown Slide
***************/
#medal-slide{
    /*border-top: solid #ffce01;*/
    /*border-bottom: solid #ffce01;*/
    padding-bottom: 10vh;
    color: white;
}

#tree-vis-container{
    margin-left: 1vw;
    height: 75vh;
}

#treeVis{
    margin: auto;
    height: 100.4%;
}

#medal-info-container{
    height: 75vh;
    width: 30vw;
    fill: white;
}

#medal-info-title{
    height: 7vh;
}

#medal-info-type{
    height: 12.5vh;
    border-bottom: solid #ffce01;
}

#medal-info-yearbar{
    height: 24vh;
}

#medal-info-eventbar{
    height: 31.5vh;
}

#medalTitleRow, #treeVis, #dashBar2{
    border-top: solid #ffce01;
    border-bottom: solid #ffce01;
}

#medalTitleRow{
    padding-top: 1vh;
}

#resetbutton{
    cursor: pointer;
    float: right;
    border-radius: 1vh;
    background: grey;
    color: white;
    font-size: small;
}

.tree-rect{
    cursor: pointer;
}

.tree-rect-label{
    fill: white;
}

.axisWhite line{
    stroke: white;
}

.axisWhite path{
    stroke: white;
}

.axisWhite text{
    fill: white;
}

#treemap-instructions{
    font-size: 50%;
    margin-bottom: 2vh;
    margin-top: 0vh;
    margin-left: 1vw;
}


/***************
 Trend Intro Slide
***************/
#trends-intro-text{
    background: #c5c5c5;
    width: 120%;
    height: 43%;

}


/***************
 Trend Slides
***************/
.trend-slide{
    height: 97vh;
    padding-bottom: 1vh;
    padding-top: 3vh;
}

#trends-slide1{
    /*border-top: solid #000000;*/
}

#trends-slide2{
    /*border-bottom: solid #000000;*/
}

#phase31L{
    padding-top: 10vh;
}
.trend-text{
    text-align: left;
    padding: 3vh;
    margin-bottom: 3vh;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px #b2b2b2;
}

#hurdleVis{
    margin-left: 5vh;
    margin-right: 5vh;
    height: 40vh;
}

#slider-instructions1{
    margin-top: 5vh;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#slider-instructions2{
    margin-top: 1vh;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
}

/* slider from High Jump visualiztion */
#slider-round {
    height: 1vh;
    margin: auto;
    width: 60%;
    margin-top: 7vh;
    margin-bottom: 4vh;
    font-size: small;
    background: grey;
    border: grey;
}

#slider-round .noUi-handle {
    height: 2vh;
    width: 2vh;
    top: -0.5vh;
    right: -1vh;
    border-radius: 1vh;
}

/* button for selecting event */
#pole-vault-select{
    margin-right:3vh;
}

#high-jump-takeaways{
    padding-right: 3vw;
}


/***************
 Globe Slide
***************/
#globe-slide{
    height: 100vh;
    color: white;
}

#globe-vis-header{
    height: 10%;
    color: white;
}

#globe-vis-container{
    height: 75%;
}

#recordsLinesVis{
    height: 100%;
}

#previousGames, #nextGames{
    cursor: pointer;
    border-radius: 1vh;
    background: grey;
    color: white;
    font-size: small;
    vertical-align: middle;
}

#previousGames:hover, #nextGames:hover{
    cursor: pointer;
    border-radius: 1vh;
    background: darkgrey;
    color: white;
    font-size: small;
    vertical-align: middle;
}

#mapVis{
    border-top: solid #179a13;
    border-bottom: solid #179a13;
}

#linesVisHeader{
    border-bottom: solid #179a13;
}

#gamesYear, #linesVisHeader{
    font-size: 5vh
}

#hostCountryText{
    font-size: 4vh
}

#mensRecordCount, #womensRecordCount{
    font-size: 2.7vh
}

#why-text{
    width: 120%;
    height: 47%;
    background: #f6a6a6;
}


/***************
  Reasons Slide
***************/
/*#reasons-slide{*/
/*    height: 100vh;*/
/*    !*border-top: solid #ff0000;*!*/
/*    !*border-bottom: solid #ff0000;*!*/
/*    padding-bottom: 50px;*/
/*    padding-top: 30px;*/
/*}*/
/*#original{*/
/*    height: 100vh;*/
/*}*/


.circlesContain{
    height: 81vh;
}

.ringscontain{
    height: 80vh;
}

.reasonContain{
    border: dashed #ff0000;
    padding: 10px;
}


.syringeText{
    color: black;
    font-size: 2vh;
}

.vertCenter{
    padding: 30vh;
}



.connection {
    stroke: black;
    stroke-dasharray: 5;
    stroke-width: 3px;
    opacity: 0.7;
}



.running-bar, .gate{
    fill: indianred;
}



