.yellowText {
    color: #ffce01;
}

.yellowBlock{
    background-color: #ffce01;
}

.redText {
    color: #ff0000;
}

.redBlock{
    background-color: #ff0000;
}

.blueText {
    color: #3e76ec;
}

.blueBlock{
    background-color: #3e76ec;
}

.lightBlueBlock{
    background-color: #d8e3fb;
}


.greenText {
    color: #179a13;
}

.greenBlock{
    background-color: #179a13;
}

.blackBlock{
    background-color: black;
}

.headDesign{
    height: 30px;
}

.hookText{
    height: 300px;
}

.phase1{
    height: 700px;
    border-top: solid #3e76ec;
    border-bottom: solid #3e76ec;
}
.phase2{
    height: 1000px;
    border-top: solid #ffce01;
    border-bottom: solid #ffce01;
    padding-bottom: 50px;
}

.phase3{
    height: 1250px;
    border-top: solid #000000;
    border-bottom: solid #000000;
    padding-bottom: 10px;
    padding-top: 50px;
}

.phase31{
    height: 500px;
}

.phase31R{
    border: none;
}

.phase4{
    height: 1000px;
    border-top: solid #179a13;
    border-bottom: solid #179a13;
    padding-bottom: 50px;
    padding-top: 30px;
}

.phase5{
    height: 1100px;
    border-top: solid #ff0000;
    border-bottom: solid #ff0000;
    padding-bottom: 50px;
    padding-top: 30px;
}

.phase5b{
    height: 850px;
    padding-top: 30px;
}

.ringscontain{
    height: 800px;
    border: solid #179a13;
}

.dashcontain{
    height: 800px;
    border: solid #ffce01;
}

.reasonContain{
    border: dashed #ff0000;
    padding: 10px;
}

.phaseHeader{
    text-align: center;
    /*height: 100px;*/
}

.phase1Left{
    border-right: dashed #3e76ec;
}

.underline{
    height: 10px;
}

h1{
    display: block;
    font-family: 'Bebas Neue', cursive;
    font-size: 90px;
    font-weight: 400;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 0;
}

#header_image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding-bottom:150px;
}

.body{
    font-family: OlympicSans,Arial,Helvetica,sans-serif;
}

.olympicBodyText{
    font-family: 'Lato', sans-serif;
    font-size: 30px;
}

.olympicHeadText{
    font-family: 'Bebas Neue', cursive;
}

.bolded{
    font-weight: bold;
}

.centerText{
    text-align: center;
}

h2{
    font-size: 52px;
    padding-top: 20px;
}

.center {
    margin: auto;
    width: 70%;
    padding: 10px;
    text-align: center;
}

.tooltip {
    position: absolute;
    text-align: center;
    font: 12px sans-serif;
    /*  pointer-events: none;	This line needs to be removed */
}
.tooltip h3,h4 {
    text-align: left;
}
.tooltip h4 {
    font: 14px sans-serif;
}

.connection {
    stroke: black;
    stroke-dasharray: 5;
    stroke-width: 3px;
    opacity: 0.7;
}

.name-label{
    font-size: small;
    text-anchor: end;
}

.xlab{
    text-anchor: start;
}

.legend{
    font-size: small;
}

#hurdleVis{
    margin-left: 5vh;
    margin-right: 5vh;
    height: 40vh;
}

#slider-round {
    height: 1vh;
    margin: auto;
    width: 60%;
    margin-top: 5vh;
    font-size: small;
    background: darkgray;
    opacity: 0.9;
}

#slider-round .noUi-handle {
    height: 2vh;
    width: 2vh;
    top: -0.5vh;
    right: -1vh; /* half the width */
    border-radius: 1vh;
}

.axis{
    color: black;
}

#high-jump-gender{
    float: right;
    margin-right: 8vh;
    border-radius: 1vh;
    padding-left: 0.5vh;
    padding-bottom: 0.5vh;
    padding-top: 0.5vh;
    padding-right: 1vh;
    background: grey;
    color: white;
    font-size: small;

}

.year-label, .player-label{
    font-size: 12px
}